<section class="banner">
  <img src="assets/images/banner.jpg" />
  <div class="banner-section">
    <div class="container">
      <img src="assets/images/banner-logo.png">
      <p>We build high end digital & brand solutions that help businesses grow their online presence through digital marketing at Open Designs, we not only have specialists who understand different avenue of digital marketing but also know how to bring it all together resulting in user-centric objectives. The idea is to always provide businesses with that extra edge. We believe that effective experiences can transform brands and grow businesses in the right sphere. We have crafted amazing world-class user experiences for our clients across globe.</p>
    </div>
  </div>
</section>
<section class="service">
  <div class="container">
    <h2>Our Services</h2>
    <h6>Discover the right solution for your business now</h6>
    <div class="service-row">
      <div class="service-col">
          <div class="icon-div one">
              <i class="fa fa-laptop" aria-hidden="true"></i>
          </div>
        <h4>Website Design 
          </h4>
        <!-- <h5>built for & by nerds</h5> -->
        <p>An attractive website for your Business creates opportunity to influence people's mindset and
          
          help to generate more sales. 
                     </p>
      </div>
      <div class="service-col">
        <div class="icon-div two">
            <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
          
        <h4>Search Engine 
          </h4>
        <!-- <h5>built for & by nerds</h5> -->
        <p>A powerful tool that can give you a definitive visibility and help you reach your audience better
        </p>
      </div>
      <div class="service-col">
          <div class="icon-div three">
              <i class="fa fa-share-square-o" aria-hidden="true"></i>
          </div>
        <h4>Social Media
          </h4>
        <!-- <h5>built for & by nerds</h5> -->
        <p>Social media management encompasses building your brand, loyalty, customer base  and make
          
          it easier
                     </p>
      </div>
      <div class="service-col">
          <div class="icon-div four">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          </div>
        <h4>Ecommerce 
          </h4>
        <!-- <h5>built for & by nerds</h5> -->
        <p>With digital e-commerce,  the product/service  establishes a personal connect with the
          
          customers
                   </p>
      </div>
    </div>
  </div>
</section>
<section class="works">
  <div class="container">
    <h2>Recent Works</h2>
    <h5>Better thoughts drives us to make something better and smareter every time!.<br>It is the functional, technical and business ideas that long term loyal association of reputed brands. The services we offer, <br >cover up and extensive range resulting in a Diversifited Portflio Our success stories will continue its never-ending legacy!</h5>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
                <div class="work-row">
                    <div class="work-col">
                        <img src="assets/images/1.jpg" />
                        <div class="work-content">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>sreesaranmedicalcenter</p>
                        </div>
                    </div>
                    <div class="work-col">
                        <img src="assets/images/2.jpg" />
                        <div class="work-content">
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>rubybuilders</p>
                        </div>
                    </div>
                    <div class="work-col">
                        <img src="assets/images/3.jpg" />
                        <div class="work-content">
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>bhpcusa</p>
                        </div>
                    </div>
                    <div class="work-col">
                        <img src="assets/images/4.jpg" />
                        <div class="work-content">
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>pay.hindu</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="item">
                <div class="work-row">
                    <div class="work-col">
                        <img src="assets/images/5.jpg" />
                        <div class="work-content">
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>hatsun</p>
                        </div>
                    </div>
                    <div class="work-col">
                        <img src="assets/images/6.jpg" />
                        <div class="work-content">
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>sgr777foods</p>
                        </div>
                    </div>
                    <div class="work-col">
                        <img src="assets/images/7.jpg" />
                        <div class="work-content">
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>kriticon</p>
                        </div>
                    </div>
                    <div class="work-col">
                        <img src="assets/images/8.jpg" />
                        <div class="work-content">
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                            <p>tuxedochennai</p>
                        </div>
                    </div>
                </div>
            </div>
        
          
          </div>
       
        </div>
    
  </div>
</section>
<section class="getin">
  <div class="container">
    <h1>get in touch</h1>
    <h3>    We're social and we'd love to hear from you! Feel free to send us an email, find us on Google Plus, follow us on Twitter<br /> and join us on Facebook.</h3>
    
   <ul class="list-inline social">
     <li><a target="_blank" href="https://www.facebook.com/opendesignsindia"><i class="fa fa-facebook"></i></a></li>
     <li><a target="_blank" href="https://twitter.com/opendesignsin"><i class="fa fa-twitter"></i></a></li>
     <li><a target="_blank" href="https://plus.google.com/+OpendesignsindiaDigitalMediaMarketing/posts"><i class="fa fa-google-plus"></i></a></li>
     <li><a target="_blank" href="https://www.youtube.com/channel/UCr5sNwho1OUiEfCGgQ6y6eg"><i class="fa fa-youtube"></i></a></li>
     <li><a target="_blank" href="https://www.linkedin.com/company/open-designs-interactive"><i class="fa fa-linkedin"></i></a></li>
   </ul>
  </div>
</section>
